<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
            crossorigin="anonymous"
        />
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"
        ></script>
        <link
            rel="stylesheet"
            href="/css/stilus.css"
        />
        <style>
            body{
    background-image: url('/images/netflixszin.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
        </style>
        <title>Filmek</title>
    </head>
    <body>
        <style>
            h3{
                color: white;
                
            }
            label{
                color: white;
            }
            p{
                color: white;
            }
            h1{
                color: white;
            }
            .img{
                width: 200px;
                height: 350px;
            }
        </style>
        <%- include('./nav.ejs') %>
        <div class="container">
            <h1>Filmek</h1>
            <div class="row">
                <% for( let j = 0; j < filmek.length; j++ ) { %>
                <div class="col-sm-12 col-lg-6 col-xl-4">
                    <h3>
                        <%= filmek[j].cim %> <br>
                        <a href="egyedifilm/<%= filmek[j].id %>">Adatok</a>
                    </h3>
                    <img
                        src="<%= filmek[j].plakat %>"
                        alt="thor"
                    />
                    <p>film hossza: <%= filmek[j].hossz %> perc</p>
                    <label for="idopontok">Időpontok:</label>
                    <select
                        name="idopontok"
                        id="idopontok"
                    >
                        <% for( let i = 0; i < filmek[j].idopontok.length; i++ )
                        { %>
                        <option value="<%= filmek[j].idopontok[i] %>">
                            <%= filmek[j].idopontok[i] %>
                        </option>
                        <% } %>
                    </select>
                    <div class="arkategoria">
                        <p>Árkategória:</p>
                        <label for="also"
                            ><%= filmek[j].arkategoria[0] %> Ft:
                        </label>
                        <input
                            type="radio"
                            name="arkat"
                            id="also"
                        />
                        <br />
                        
                    </div>
                </div>
                <% } %>
            </div>
        </div>
    </body>
</html>

